@media screen and (min-width: 600px) {
    body {
    max-width: 600px;
    align-self: center;
    }
    
    .logo-header {
        width: 120px;
    }

    .inhalt {
        margin-top: 30px;
        flex: 1; /* Nimmt den verfügbaren Platz ein, so dass der Footer unten bleibt */
    }
}
